#map {
    height: 400px;
    width: 100%;
}
body {
    background-image: url("../images/newthaimexico.jpg");
    margin: 0;
    background-size: 800px 800px;
    background-repeat: no-repeat;
    background-position: center;
}
#contact {

}