/*
!*flexbox*!
@import "compass/css3";
.under-box {
    width: 90vw;
    height: 55.6vh;
    padding-bottom: 51%;
    max-width: 2560px;
    max-height: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/stucco-red.png");
    position: relative;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    box-shadow: 0 0 50px 3px ;
}



.outer-box {
    width: 95%;
    height: 50%;
    padding-bottom: 53%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 0 50px 3px ;

}

.img-box-1 {
    display: inline-block;
    width: 50%;
    height: 51%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/about-img.jpg");
    margin: 0;
    position: absolute;
    left: 0%;
    top: 0%;


}

.img-box-2 {
    display: inline-block;
    width: 50%;
    height: 51%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/pricing-img.jpg");
    margin: 0;
    position: absolute;
    left: 50%;
    top: 0%;

}

.img-box-3 {
    display: inline-block;
    width: 50%;
    height: 51.5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/resources-img.jpg");
    margin: 0;
    position: absolute;
    left: 0%;
    top: 49.5%;

}
.img-box-4 {
    display: inline-block;
    width: 50%;
    height: 51.5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/contact-img.jpg");
    margin: 0;
    position: absolute;
    left: 50%;
    top: 49.5%;

}
*/
